{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Register</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'css/all.min.css' %}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/scss/pages/_login.scss' %}">
</head>
<body>
	
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	<!-- header -->
	{% include 'navbar.html' %}
	<!-- end header -->
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<!-- <p>Organic Information</p> -->
						<h1>Register</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- login form -->
    <div class="container">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
              <div class="card-body p-4 p-sm-5">
                <h5 class="card-title text-center mb-5 fw-light fs-5">Sign Up</h5>
                <form method = "post">
					{% csrf_token %}
				  	<div class="form-floating mb-3">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="">
                    </div>
                    <div class="form-floating mb-3">
                    	<label for="email">Email</label>
                    	<input type="email" class="form-control" id="email" name="email"  placeholder="">
                 	</div>
				    <div class="form-floating mb-3">
						<div>
							<label for="password1">Password</label>
							<input type="password" class="form-control" id="password1" name="password1" placeholder="">
						</div>
						<div>
							<label for="password2">Reset Password</label>
							<input type="password" class="form-control" id="password2" name="password2" placeholder="">
						</div>
				  	</div>

                  	<div class="d-grid">
                    	<button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Sign Up</button>
                  	</div>
					<div style="text-align: center;">
						<p>Had an account? <a href="loginUser">Login</a></p>
					</div>
				  	{%if errors%}
				  		<ul>
				  		{%for error in errors%}
							<li><span style="color:red;">{{error}}</li>
				  		{%endfor%}
				  		</ul>
				  	{%endif%}
                  	<hr class="my-4">
                  	<div class="d-grid mb-2">
                    	<button class="btn btn-google btn-login text-uppercase fw-bold" type="submit">
                      		<i class="fab fa-google me-2"></i> Sign in with Google
                    	</button>
                  	</div>
                  	<div class="d-grid">
                    	<button class="btn btn-facebook btn-login text-uppercase fw-bold" type="submit">
                      	<i class="fab fa-facebook-f me-2"></i> Sign in with Facebook
                    	</button>
                  	</div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
	<!-- end login form -->



	<!-- footer -->
	{% include 'footer.html' %}
	<!-- end footer -->

	
	<!-- jquery -->
	<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
	<!-- bootstrap -->
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- count down -->
	<script src="{% static 'js/jquery.countdown.js' %}"></script>
	<!-- isotope -->
	<script src="{% static 'js/jquery.isotope-3.0.6.min.js' %}"></script>
	<!-- waypoints -->
	<script src="{% static 'js/waypoints.js' %}"></script>
	<!-- owl carousel -->
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<!-- magnific popup -->
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<!-- mean menu -->
	<script src="{% static 'js/jquery.meanmenu.min.js' %}"></script>
	<!-- sticker js -->
	<script src="{% static 'js/sticker.js' %}"></script>
	<!-- main js -->
	<script src="{% static 'js/main.js' %}"></script>

</body>
</html>